body {
    background-color: dimgrey;
}

.pass-cont {
    width: 100%;
    text-align: center;
}

.pass-cont input {
   width: 350px;
   padding: 10px;
   position: relative;
   top: 90px;
   border: 1px solid black;
   border-radius: 8px;
   font-size: 20px;
}

.pass-cont h1 {
      color: wheat;
}

.strength {
    margin-top: 120px;
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    font-family: sans-serif;
}


.strength.weak {
    color:rgb(242, 242, 210);

  }

.strength.klindaweakstill {
    color: rgb(224, 255, 255);
}