body {
    background-color: black;
}
.pass-cont {
    width: 100%;
    text-align: center;
    max-width: 400px;
    font-family: 'Ariel';
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  

  .pass-cont h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #052276;
  }
  
 
  .pass-cont input {
    width: 300px;
    padding: 12px 20px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
    outline: none;
  }
  
  .pass-cont input:focus {
    border-color: #358e38;  
  }
  
  
  .strength {
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .strength.weak {
    color: #d9534f; 
  }
  
  .strength.kindaweakstill {
    color: #b77416; 
  }
  
  .strength.almostbecomingstrong {
    color: #998b0a; 
  }
  
  .strength.strong {
    color: #5bc0de;  
  }
  
  .strength.yesssquitestrong {
    color: #5cb85c;  
  }
  